
/* ==================================================
   ! Resources Page
   ================================================== */
   .resource {
    width: 31.33333333%;
    margin: 0 3% 40px 0;
    float: left;

    &:nth-child(3n) {
        margin-right: 0;
    }
}
