$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

/* Font Family */
   $body:'Merriweather', Helvetica, sans-serif;
   $title:'Francois One', Helvetica, sans-serif;
   $bold: 'Coda', cursive;


   /* Font Size */
   $fz: 16px;
   $h1: $fz * 2.6;
   $h2: $fz * 2.2;
   $h3: $fz * 1.8;
   $h4: $fz * 1.4;
   $h5: $fz * 1.2;
   $h6: $fz * 1;
