/*  ! Primary Menu
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.nav {

	li {
		float: left;
		color: $white;
		font-size: 1.4em;

		a {
			font-size: 14px;
			color: $white;
			margin-left: 2px;
			display: inline-block;
		}

		&:hover {
			a {
				color: $salmon;
			}
		}
	}
}

.navbar-menu {
	margin-top: 8px;
}

.dropdown-menu {
	margin: 0;
	padding: 0;

	-webkit-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;

	li {
		padding: 0;
		float: none;
		text-align: left;
		padding-left: 0 10px;

		&:hover {
			background: $light-blue;

			&:last-child {
				-webkit-border-radius: 0 0 10px 10px;
				border-radius: 0 0 10px 10px;
			}
		}

		a {
			margin: 0;
			padding: 10px;

			&:hover {
				background: none;
				color: $gray;
			}
		}
	}
}

li.current_page_item {
	background: $gray;

	a {
		color: $light-gray;
	}

	&:hover {
		a {
			color: $salmon;
		}
	}
}

li.current-menu-ancestor li.current_page_item {
	background: $salmon;

	a,
	a:hover {
		color: $white;
	}
}



/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

.logged-in .navbar-fixed-top {
	top: 32px;
}

/*  ! Sidebar Menu
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#menu-sidebar-menu {
	.sub-menu {
		margin: 5px 0 5px 20px;
	}
}
