.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 20px 0;
}

.entry-footer {
    padding: 10px 20px;

    .comments-link {
        float: right;
    }

    a {
        color: lighten($salmon, 10%);
    }
}
